<div class="flex flex-col md:flex-row gap-2">
  <!-- ข่าวเด่น (ซ้าย) -->

  <div
    class="cursor-pointer md:w-2/3 w-full overflow-hidden shadow-lg group bg-white dark:bg-ccc"
  >
    <!-- รูปภาพข่าว -->
    <img
      [src]="imageUrl"
      alt="headline"
      class="w-full h-64 md:h-96 object-cover group-hover:scale-105 transition-transform duration-300"
    />

    <!-- เนื้อหาข่าว (ย้ายจาก overlay มาไว้ล่าง) -->
    <div class="p-4">
      <h2
        class="text-xl md:text-2xl font-bold text-gray-900 mb-2 dark:text-white"
      >
        {{ title }}
      </h2>
      <p class="text-gray-700 text-sm md:text-base dark:text-white">
        {{ description }}
      </p>

      <!-- tag และวันที่ -->
      <div class="flex items-center space-x-3 mt-4">
        <span
          class="bg-pink-600 text-white text-xs px-3 py-1 rounded-full font-semibold"
        >
          {{ tag }}
        </span>
        <span class="text-xs text-gray-500 dark:text-white">{{ date }}</span>
      </div>
    </div>
  </div>

  <!-- ข่าวรอง (ขวา) -->
  <div class="md:w-1/3 w-full flex flex-col gap-2">
    <!-- ข่าวรอง 1 -->
    <div
      class="cursor-pointer group overflow-hidden shadow bg-white flex flex-col h-full dark:bg-ccc"
    >
      <!-- รูป -->
      <div class="h-32 w-full">
        <img
          [src]="sideNews1.imageUrl"
          alt="side2"
          class="inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
        />
      </div>

      <!-- เนื้อหาข่าว -->
      <div class="flex-1 flex flex-col justify-between p-3">
        <h3 class="text-base font-bold leading-tight drak:text-white">
          {{ sideNews1.title }}
        </h3>
        <div class="flex items-center space-x-2 mt-2">
          <span
            class="bg-pink-600 text-white text-xs px-3 py-1 rounded-full font-semibold shadow"
          >
            {{ sideNews1.tag }}
          </span>
          <span
            class="text-xs text-white bg-black/40 px-2 py-1 rounded drak:text-white"
          >
            {{ sideNews1.date }}
          </span>
        </div>
      </div>
    </div>

    <!-- ข่าวรอง 2 -->
    <div
      class="cursor-pointer group overflow-hidden shadow bg-white flex flex-col h-full dark:bg-ccc"
    >
      <!-- รูป -->
      <div class="h-32 w-full">
        <img
          [src]="sideNews2.imageUrl"
          alt="side2"
          class="inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
        />
      </div>

      <!-- เนื้อหาข่าว -->
      <div class="flex-1 flex flex-col justify-between p-3">
        <h3 class="text-base font-bold leading-tight">{{ sideNews2.title }}</h3>
        <div class="flex items-center space-x-2 mt-2">
          <span
            class="bg-pink-600 text-white text-xs px-3 py-1 rounded-full font-semibold shadow"
          >
            {{ sideNews2.tag }}
          </span>
          <span class="text-xs text-white bg-black/40 px-2 py-1 rounded">
            {{ sideNews2.date }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
